.pokemon-detail {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 8px solid #FFCB05;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .back-button, .update-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .back-button {
    background-color: #2a75bb;
    color: white;
  }
  
  .update-button {
    background-color: #2a75bb;
    color: white;
    margin-left: auto;
  }
  
  .back-button:hover {
    background-color: #1b5288;
  }
  
  .update-button:hover {
    background-color: #1b5288;
  }
  
  .pokemon-detail h1 {
    color: #2a75bb;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  
  .pokemon-detail img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
  
  .pokemon-types {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .pokemon-type {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .type-icon {
    width: 20px;
    height: 20px;
    object-fit: natural;
  }
  
  .pokemon-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
  }
  
  .pokemon-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
  }
  
  @media (min-width: 768px) {
    .pokemon-stats {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  